@import "reset.css";
@import "text.css";
@import "960.css";
@import "fonts.css";
@import "disqus.css";
@import "navigation.css";
@import "forms.css";

body {
  font-family: MuseoSans500, "Helvetica Neue", "Helvetica", sans;
}

header, footer, nav, article {
  display:block;
}
a {
  text-decoration: none;
  color: #6ec145;
}
a:visited {
  text-decoration: underline;
}
a#logo:visited {
  text-decoration: none;
}
a:hover,
a:active,
#dsq-content a:hover,
#dsq-content a:active {
  background-color: #ffffb7;
}
a#logo:hover {
  background-color: transparent;
}

header#page {
  margin: 20px 0; padding: 0 10px;
}

#logo {
  display: block;
  float: left;
  position: relative;
  width: 183px; height: 50px;
  font-family: Museo700;
}
#logo .name {
  font-size: 40px;
  position: absolute; bottom: 0; left: 0;
}
#logo .surname {
  -moz-transform:rotate(-90deg); -webkit-transform:rotate(-90deg); -o-transform:rotate(-90deg);
  font-size: 15px; color: rgb(200, 200, 200);
  position: absolute; bottom: 20px; right: 0;
}

#main-content {
  clear: both;
}
#main-content h1,
#main-content h2 {
  font-family: Museo500;
}

#main-content h1 {
  margin-bottom: 0;
}
#main-content .time {
  color: rgb(200, 200, 200);
  margin-bottom: 8px;
}

#main-content article {
  -moz-column-count: 3; -webkit-column-count: 3; column-count: 3;
  -moz-column-gap: 20px; -webkit-column-gap: 20px; column-gap: 20px;
  font-size: 15px;
}

#secondary-content aside {

}
#secondary-content aside h2 {
  margin-bottom: 5px;
}
#secondary-content aside ul li {
  list-style-type: none;
  margin-left: 20px;
}

#secondary-content #about-me p {
  margin-bottom: 10px;
}