@import "reset.css";
@import "text.css";
@import "960.css";
@import "common.css";
@import "buttons.css";
@import "fonts.css";
@import "disqus.css";

body {
  font-family: MuseoSans500, "Helvetica Neue", "Helvetica", sans;
}

header#page {
  margin: 20px 0; padding: 0 10px;
}

#logo {
  float: left;
  position: relative;
  width: 183px; height: 50px;
  font-family: Museo700;
}
#logo .name {
  font-size: 40px;
  position: absolute; bottom: 0; left: 0;
}
#logo .surname {
  -moz-transform:rotate(-90deg); -webkit-transform:rotate(-90deg); -o-transform:rotate(-90deg);
  font-size: 15px; color: #CCC;
  position: absolute; bottom: 20px; right: 0;
}

#search {
  float: right;
  height: 50px; line-height: 50px;
}
#search input[type=search] {
  width: 160px; 
}
#search label {
  display: none;
}

#main-content {
  clear: both;
}
#main-content h1,
#main-content h2 {
  font-family: Museo500;
}

#main-content h1 {
  margin-bottom: 0;
}
#main-content .time {
  color: #CCC;
  margin-bottom: 8px;
}

#main-content article {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  font-size: 15px;
}

#main-content aside {
  
}

#main-content aside h2 {
  margin-bottom: 0;
}
#main-content aside ul li {
  list-style-type: none;
  margin-left: 20px;
}

nav#article {
  margin: 20px 0; padding: 0 10px;
}
nav#article ul {
  background-color: rgb(245, 245, 245);
  -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
}
nav#article li.previous {
  float: left;
}
nav#article li.next {
  float: right;
}
nav#article li.archive {
  margin-left: 48%;
}
nav#article a {
  display: block;
  padding: 5px 10px;
  font-family: Museo500;
}
nav#article .previous a {
  -webkit-border-top-left-radius: 10px; -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px; -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px; border-bottom-left-radius: 10px;
}
nav#article .next a {
  -webkit-border-top-right-radius: 10px; -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px; -moz-border-radius-bottomright: 10px;
  border-top-right-radius: 10px; border-bottom-right-radius: 10px;
}
nav#article .archive a {
  width: 43px;
}
nav#article a span {
  font-weight: bold;
}

nav#social {

}
nav#social li {
  float: right;
  padding: 0 0 0 10px;
}
nav#social li a {
  display: block; width: 32px; height: 32px;
  text-indent: -7777px;
  opacity: 0.5;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: linear;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
nav#social li a:hover {
  opacity: 1.0;
}
nav#social li.twitter a {
  background: url('/images/twitter.png') no-repeat;
}
nav#social li.flickr a {
  background: url('/images/flickr.png') no-repeat;
}
nav#social li.linkedin a {
  background: url('/images/linkedin.png') no-repeat;
}
nav#social li.github a {
  background: url('/images/github.png') no-repeat;
}