<!doctype html>

<html lang="en">
<head>
   <meta charset="utf-8">

   <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
        Remove this if you use the .htaccess -->
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

   <!-- encoding must be specified within the first 512 bytes www.whatwg.org/specs/web-apps/current-work/multipage/semantics.html#charset -->

   <!-- meta element for compatibility mode needs to be before all elements except title & meta msdn.microsoft.com/en-us/library/cc288325(VS.85).aspx -->
   <!-- Chrome Frame is only invoked if meta element for compatibility mode is within the first 1K bytes code.google.com/p/chromium/issues/detail?id=23003 -->

   <title>{{ page.title }}</title>
   <meta name="description" content="{{ page.title }}">
   <meta name="author" content="Gerhard Lazu" />

   <link href="http://feeds.feedburner.com/gerhardlazu" rel="alternate" title="Gerhard Lazu" type="application/atom+xml" />

   <!-- CSS : implied media="all" -->
   <link rel="stylesheet" href="/css/syntax.css" />
   <link rel="stylesheet" href="/css/defaults.css" />
   <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <div class="site">

    {{ content }}

    <div class="footer clearfix">

      <div class="rss">
        <a href="http://feeds.feedburner.com/gerhardlazu"><img src="/images/feed-icon.png" title="feed" /></a>
      </div><!-- <<< .rss -->

      <div class="contact">
        <img class="portrait" src="/images/gerhard.jpg"/>
        <div class="title"><a href="/">a blog by Gerhard Lazu</a></div>
        <div>my <a href="http://twitter.com/gerhardlazu">twitter</a> and <a href="http://github.com/gerhard">github</a> pages</div>
        <div>inspired by <a href="http://chrismdp.github.com">chrismdp.github.com</a></div>
      </div><!-- <<< .contact -->

    </div><!-- <<< .footer -->

  </div><!-- <<< .site -->

  <script type="text/javascript">
  //<![CDATA[
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-106574-21']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    var GoSquared={};
    GoSquared.acct = "GSN-527415-Q";
    (function(w){
        function gs(){
            w._gstc_lt=+(new Date); var d=document;
            var g = d.createElement("script"); g.type = "text/javascript"; g.async = true; g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
            var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(g, s);
        }
        w.addEventListener?w.addEventListener("load",gs,false):w.attachEvent("onload",gs);
    })(window);
  //]]>
  </script>
</body>
</html>
